@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 22% 96%;
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 142 76% 36%;
    --primary-foreground: 356 75% 98%;
    --secondary: 60 5% 96%;
    --secondary-foreground: 24 10% 10%;
    --muted: 60 5% 96%;
    --muted-foreground: 24 6% 40%;
    --accent: 60 5% 96%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 142 76% 36%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 0 0% 98%;
    --card: 24 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 24 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 71% 45%;
    --primary-foreground: 142 80% 98%;
    --secondary: 12 6% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 12 6% 15%;
    --muted-foreground: 24 6% 64%;
    --accent: 12 6% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 12 6% 20%;
    --input: 12 6% 20%;
    --ring: 142 71% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
